@media only screen and (max-width: 600px) {
    
    /*........hamburguer nav.........*/
        .navbar {
            display: none;
        }
    
        .hamb-menu {
            display: flex;
            justify-content: center;
        
            width: 100%; 
            background-color: black;
        } 
    
        .hamb-menu .icon-menu img {
            width: 50px;
            height:50px;
            margin:20px;
            position: relative;
        }
    
        .hamb-menu .toggle-list {
            position: absolute;
            left: 1px;
            display: none;
            width: 100%;
        }
    
        .hamb-menu .toggle-list.open {
            display: block;
            cursor: pointer;
        }
    
        .hamb-menu .toggle-list li {
            display: block;
            width: 200px;
            background-color: #da6565;
            box-sizing: border-box;
            padding: 5px;
            
          }
    
        .hamb-menu .toggle-list li:hover{
            background-color: #c7acac;
        }
    
        .toggle-list a {
            font-size: 18px;
            line-height: 30px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
        }
    
        .hd-logo-hb {
            justify-content:center ;
            margin: 20px 10px 20px auto;
            align-items: center;
            display: flex;
            max-width: 200px;
            margin-right: 20px;
          }
    
        .hamb-menu .toggle-list {
            width: 30px;
            height: 5px;
            margin-bottom: 5px;
            position: relative;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
            top:0;
        }
    
        .hamb-menu li:nth-child(1) {
            transform:translate(0px, 7px);
        }
            
        .hamb-menu li:nth-child(2) {
            transform:translate(0px, 7px);
        }
            
        .hamb-menu li:nth-child(3) {
            transform:translate(0px, 7px);
        }
            
        .hamb-menu.open li:nth-child(4) {
            transform: translate(0px, 7px);
        }

        .main-container-card{
            display: flex;
            flex-direction: column;
           
            align-content: center;
           
        }


.main-container {
   
    margin: 100px auto 100px;
    padding: 95px 20px;
    min-height: 100vh;
    margin-bottom: 150px;
    max-width: 100%;
  }
  
  .main-text h1 {
    font-size: 8vw;
  }


.card{
    max-width: 100%;
    margin-bottom: 50px;
    height: auto;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

  .card h2 {
    font-size: 5vw;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 3vw;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .card button {
    font-size: 3vw;
    width: 40%;
    height: auto;
    padding: 10px;
  }

hr {
    display: none;
}
.containerbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
}



